.main-content {
  margin: 10px 16px 0px 100px;
  //   background-color: rgb(210, 7, 7);
}

.category-container {
  &__button {
    margin-right: 8px;
    margin-bottom: 15px;
    background-color: $color-secondary;
    color: white;
    font-size: 14px;
    padding: 0 12px;
    line-height: 30px;
    border-radius: 8px;
    font-weight: bold;
    &--active {
      background-color: white;
      color: black;
    }
  }
}

.container {
  margin: 40px 0;
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.video {
  &__image {
    border-radius: 13px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 215px;
    margin-bottom: 15px;
    &--top {
      object-position: top;
    }
  }
  & p {
    margin-bottom: 7px;
    width: 95%;
  }
  &__name {
    font-weight: bold;
  }
  &__author {
    color: #aaaaaa;
  }
  &__information {
    color: #aaaaaa;
  }
}
